
:root {
    --txt9:		#7a9fee;
}

body { background-color: black !important;
     padding: 10px !important;}


div {color: var(--txt9) !important; 
    font-family: 'Consolas', Courier, monospace;
    }

table {border-color: rgba(81, 107, 163, 0.562) !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--txt9) !important;
    }

td {margin: 0px; padding: 0px;}

img.weaicon { height: 32px !important; width: 32px !important; opacity: 70% !important;}

.hl {color: rgb(62, 207, 140) !important;}

a    { color: rgba(113, 113, 207, 0.692) !important;}    

