
:root {
    --txt9:		#6ed37a;
}

body { background-color: black !important;
        padding: 10px !important;}


div {color: var(--txt9) !important; 
    font-family: 'Courier New', Courier, monospace;
    font-size:large;}

table {border-color: rgba(81, 163, 99, 0.562) !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--txt9) !important;
    }


a    { color: rgba(175, 175, 202, 0.603) !important;}    
